html,

body {
    background-color: rgb(193,39,45);
    background: url("background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#container{
    position: absolute;
    left: 20%;
    top: 25%;
    width: 100%;
    max-width: 60%;
    height: 20%;
    text-align: center;
    padding: 10px;
    border-radius: 25px;
}

.left-column
{
    float:left;
    width:26%;
    font-size: 14px;
    font-family: "Avantgarde", sans-serif;
    text-align: center;
	background-color: white;
	padding: 10px;
	border-radius: 25px;
    border: 6px solid white;

}

.center-column
 {
     margin:auto;
     width:26%;
    font-size: 14px;
    font-family: "Avantgarde", sans-serif;
    text-align: justify;
	background-color: white;
	padding: 10px;
	border-radius: 25px;
    border: 6px solid white;

}

.right-column
{
    float:right;
    width:30%;
    font-size: 14px;
    font-family: "Avantgarde", sans-serif;
    text-align: center;
	background-color: white;
	padding: 3px;
	border-radius: 25px;
    border: 6px solid white;
}

#logo{
    max-width: 100%;
    height: 90%;
	border-radius: 25px;
}

#rightPicture{
	max-width: 90%;
	height: 80%;
	border-radius: 25px;
}	

#Heading{
    text-align: center;
    font-family: "Avantgarde", sans-serif;
    font-size: 24px;
    color: rgb(193,39,45);

}

#image{
	max-height: 340px;
    text-align: center;
	border-radius: 25px;
	
}


#LogoHeader
{
    float: left;
    height: 8%;
    width: 16%;
	max-width: 30%;
	max-height: 25%;
	border-radius: 25px;
}

#Header
{	
    display: flex;
    align-items: center;

    width: 100%;
    height: 80%;


    background-color: rgb(193,39,45);
	background: -webkit-linear-gradient(left top, red, rgb(193,39,45)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, red, rgb(193,39,45)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, red, rgb(193,39,45)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, red, rgb(193,39,45)); /* Standard syntax (must be last) */

    /*color: #C1272D;*/
	color: white;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
}


#HeaderBanner
{
    float: center;
    height: 40%;
    width: 93%;
    text-align: center;

    font-size: 52px;
}

#SiteNavigation
{
    display: flex;
    align-items: center;

    float: left;
    height: 90%;
    width: 66%;
}

.NavElement
{
    float: right;
    height: 50%;
    width: 33%;
    text-align: right;
    font-size: 28px;
    color: white;
    text-decoration: none;
}

#TextBox{
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-size: 18px;
    padding: 10px;
}

#PageFooter{
    float: left;
    top: 30%;
	border: 5px;
	background-color: white;
}

#Thumbnail a {
			position:relative;
			}

#Thumbnail a img{
			display:block;
			position:absolute;
			top:-999px;
			left:0;
			}
			
#Thumbnail a:hover img {
			top:-100px;
			left:80;
			}

img{
-webkit-transition:all 0.5s;
-moz-transition:all 0.5s;
-ms-transition:all 0.5s;
-o-transition:all 0.5s;
border-radius: 25px;

   }

img:hover{
    width:63%;
    height:63%;
    #rightPicture: 30%;
    
} 
