html,

#body{
    background-color:black;
}

#PageHeader{
    text-align:center;
    color: white;
}

#BlogPostTitle{
    color: white;
    text-align:center;
    font-family: "Avantgarde", sans-serif;
    font-size: 250%;
}

#SiteNavigation{
    margin: auto;
    width: 96%;
    border: 3px solid white;
    color: white;
    text-align:center;
    padding: 10px;
    font-family: "Avantgarde", sans-serif;
    font-size: 140%;
}

#ul{
    display: inline;
}

#PageContent{
    margin:auto;
    width: 40%;
    border: 3px solid white;
    color: white;
    padding: 10px;
    font-family: "Avantgarde", sans-serif;
    font-size: 140%;
}

#TitleDate{
    text-align:right;
    color: white;
}

#BlogPostContent{
    color: red;
}