html,
#PageHeader{
    background-color:#EEFFEE;
    text-align:center;
}

#BlogPostTitle{
    color: #FF0000;
    text-align:center;
    font-family: "Avantgarde", sans-serif;
}

#SiteNavigation{
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
    font-family: "Avantgarde", sans-serif;
}

#PageContent{
    margin: auto;
    width: 20%;
    border: 3px solid red;
    padding: 10px;
    font-family: "Avantgarde", sans-serif;
}

#TitleDate{
    text-align:left;
}

#BlogPostContent{
    text-align:right;
}