html,
#PageHeader{
    background-color:#EEFFEE;
    text-align:center;
}

#BlogPostTitle{
    color: #FF0000;
    text-align:center;
}

#SiteNavigation{
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}